<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.0">
<servlet>
    <servlet-name>Check</servlet-name>
    <servlet-class>com.db.Check</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>Check</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Methods</servlet-name>
        <servlet-class>com.db.Methods</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Methods</servlet-name>
        <url-pattern>/Methods</url-pattern>
    </servlet-mapping>
</web-app>
